.dashboard-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.row{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    width: 550px;
    height: 40px;
    background-color: #B0C4DE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
}

.center-box{
    width: 600px;
}

.charts{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}